@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section S1
{
    This iss section 1 oming from About Us
}
<p>Use this area to provide additional information.</p>
