<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <h1> HAEDING 1</h1>
    @RenderBody()
    <h1> HAEDING 2</h1>
    @RenderSection("S1",required:false)
</body>
</html>
